
@tailwind base;
@tailwind components;
@tailwind utilities;

.rating-row {
  display: flex;
  align-items: center; 
}

.rating-container {
  display: flex;
}

.rating-circle {
  width: 20px; 
  height: 20px; 
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;

}

.rating-circle.selected {
  background-color: #E5224C; 
}

.slick-slide {
  padding: 0 15px; 
  box-sizing: border-box; 
}


.slick-track {
  align-items: center;

}

.dog-cards-carousel-container {
  max-width: 350px; 
  /* border: 5px solid #E5224C; */
  border-radius: 15px;
  overflow: hidden;
}

.custom-arrow {
  display: block; 
  background: #333;
  border-radius: 50%; 
  padding: 10px;
  opacity: 0.75;
  position: absolute; 
  top: 50%;
  transform: translate(0, -50%);
  z-index: 25; 
}

.custom-arrow:before {
  color: #E5224C; 
  font-size: 20px; 
}




