/* .dog-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 300px; 
  }
  
  .dog-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .dog-attributes {
    margin-top: 16px;
  } */
  
.dog-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 300px; /* Adjust the width if necessary */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.dog-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.dog-attributes {
    margin-top: 16px;
}